<nz-layout>
    <div class="toolbar">
      <form nz-form [formGroup]="validateForm">
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>产品名称</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                <nz-select nzShowSearch nzAllowClear formControlName="pid" (ngModelChange)="change($event)">
                  <nz-option *ngFor="let p of proData" [nzValue]="p.id" [nzLabel]="p.name + ' (' + p.id + ')'">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>设备名称</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                <nz-select nzShowSearch nzAllowClear formControlName="id">
                  <nz-option *ngFor="let p of devData" [nzValue]="p.id" [nzLabel]="p.name + ' (' + p.id + ')'">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>变量名称</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                <nz-select nzShowSearch nzAllowClear formControlName="name"
                  (ngModelChange)="handlePropertyChange($event)">
                  <nz-option *ngFor="let p of properties" [nzValue]="p.name" [nzLabel]="p.label + '  (' + p.name + ')'">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
  
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">窗口时间</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                <ng-template #addOnAfterTemplate>
                  <nz-select formControlName="winTp" style="width: 60px">
                    <nz-option nzValue="s" nzLabel="秒"></nz-option>
                    <nz-option nzValue="m" nzLabel="分"></nz-option>
                    <nz-option nzValue="h" nzLabel="时"></nz-option>
                  </nz-select>
                </ng-template>
                <nz-input-number-group [nzAddOnAfter]="addOnAfterTemplate" style="width: 100%">
                  <nz-input-number [nzStep]="1" formControlName="window"></nz-input-number>
                </nz-input-number-group>
              </nz-form-control>
            </nz-form-item>
          </div>
  
          <div nz-col [nzSpan]="16">
            <nz-form-item>
              <nz-form-label [nzSm]="3" [nzXs]="24">起止时间</nz-form-label>
              <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="" style="width: 100%">
                <nz-range-picker nzMode="date" [nzShowTime]="true" style="width: 100%" formControlName="strEnd">
                </nz-range-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">算法</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                <nz-radio-group formControlName="fn">
                  <label nz-radio nzValue="mean" nzLabel="平均">平均 </label>
                  <label nz-radio nzValue="last" nzLabel="最后"> 最后</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>
  
        <div nz-row>
          <div nz-col [nzSpan]="8" [nzOffset]="0" class="search-area" nz-space nzOffset="2">
            <button nz-button nzType="primary" (click)="search()" *nzSpaceItem>
              <span nz-icon nzType="search" nzTheme="outline"></span>
              搜索
            </button>
  
            <button nz-button (click)="resetForm()" nzType="primary" *nzSpaceItem>
              清空
            </button>
  
            
   
          </div>
        </div>
      </form>
    </div>
    <echarts class="chart"   [options]="option" (chartInit)="chartInit($event)"></echarts>
   
  </nz-layout>

  
  